<center>
<img src="../../img/ods_stickers.jpg">
## Open Machine Learning Course
<center>Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/), Data Scientist @ Mail.Ru Group <br>
Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/) <br>All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already  in the repository). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg).**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv('adult_data.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
salary            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [4]:
data['sex'].value_counts(normalize=True) #деляем в проценты

Male      0.669205
Female    0.330795
Name: sex, dtype: float64

**2. What is the average age (*age* feature) of women?**

In [5]:
age = data[data['sex'] == 'Female']['age'].mean()
print(f'Average women age is {round(age, 2)} years')

Average women age is 36.86 years

**3. What is the percentage of German citizens (*native-country* feature)?**

In [6]:
percentage = data[data['native-country'] == 'Germany']['native-country'].count()/data.shape[0] * 10000
print(f'Here are {round(percentage,2)}% of German citizens')

Here are 42.07% of German citizens

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [7]:
rich = data[data['salary'].astype('str') == '>50K'];
poor = data[data['salary'].astype('str') == '<=50K']
print(f'Mean age of those who earn more than 50K: {round(rich.age.mean(), 2)} years \nMean age of those who earn less than 50K: {round(poor.age.mean(), 2)} years')
print('------------------------------------------------------------')
print(f'Std age of those who earn more than 50K: {round(rich.age.std(), 2)}\nMean age of those who earn less than 50K: {round(poor.age.std(), 2)}')

Mean age of those who earn more than 50K: 44.25 years
Mean age of those who earn less than 50K: 36.78 years
------------------------------------------------------------
Std age of those who earn more than 50K: 10.52
Mean age of those who earn less than 50K: 14.02

In [8]:
#или
data.groupby('salary').age.agg([np.mean, np.std])

             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [9]:
edu = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']

data[(data['salary'] == '<=50K') & (~data['education'].isin(edu))].tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [10]:
print('it is not true')

it is not true

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [11]:
data.groupby('race').describe()

                        age                                                \
                      count       mean        std   min   25%   50%   75%
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                         capital-gain                                      \
                     max        count         mean          std  min  25%
race
Amer-Indian-Eskimo  82.0        311.0   625.266881  2753.238961  0.0  0.0
Asian-Pac-Islander  90.0       1039.0  1478.358037  9986.156906  0.0  0.0
Black               90.0       3124.0   609.940461  5139.653447  0.0  0.0
Other               77.0        271.0   934.660517  8625.128995  0.0  0.0
White               90.0      27816.0  1121.660375  7504.533302  0.0  0.0

                                      capital-loss                         \
                    50%  75%      max        count       mean         std
race
Amer-Indian-Eskimo  0.0  0.0  27828.0        311.0  34.176849  245.583106
Asian-Pac-Islander  0.0  0.0  99999.0       1039.0  97.222329  423.556931
Black               0.0  0.0  99999.0       3124.0  60.385083  337.394121
Other               0.0  0.0  99999.0        271.0  61.070111  322.452705
White               0.0  0.0  99999.0      27816.0  90.806155  410.833347

                                               education-num             \
                    min  25%  50%  75%     max         count       mean
race
Amer-Indian-Eskimo  0.0  0.0  0.0  0.0  1980.0         311.0   9.311897
Asian-Pac-Islander  0.0  0.0  0.0  0.0  2457.0        1039.0  10.960539
Black               0.0  0.0  0.0  0.0  4356.0        3124.0   9.486236
Other               0.0  0.0  0.0  0.0  2179.0         271.0   8.841328
White               0.0  0.0  0.0  0.0  4356.0       27816.0  10.135246

                                                           fnlwgt  \
                         std  min  25%   50%   75%   max    count
race
Amer-Indian-Eskimo  2.310387  2.0  9.0   9.0  10.0  16.0    311.0
Asian-Pac-Islander  2.811582  1.0  9.0  10.0  13.0  16.0   1039.0
Black               2.297893  1.0  9.0   9.0  10.0  16.0   3124.0
Other               3.226153  1.0  7.5   9.0  10.0  16.0    271.0
White               2.570307  1.0  9.0  10.0  13.0  16.0  27816.0

                                                                               \
                             mean            std      min       25%       50%
race
Amer-Indian-Eskimo  120831.147910   88338.636336  12285.0   35036.5  102541.0
Asian-Pac-Islander  159940.609240   85122.307505  14878.0   93321.0  143098.0
Black               228013.124200  123600.677422  19752.0  148212.0  205934.0
Other               197124.191882   88856.775370  24562.0  138103.0  188793.0
White               187298.064280  103124.944196  18827.0  116902.5  177627.0

                                        hours-per-week                        \
                         75%        max          count       mean        std
race
Amer-Indian-Eskimo  176142.0   445168.0          311.0  40.048232  11.695364
Asian-Pac-Islander  194456.0   506329.0         1039.0  40.127045  12.556816
Black               281693.0  1268339.0         3124.0  38.422855  10.315646
Other               240091.0   481175.0          271.0  39.468635  11.143755
White               233542.5  1484705.0        27816.0  40.689100  12.544796


                    min   25%   50%   75%   max
race
Amer-Indian-Eskimo  3.0  40.0  40.0  40.0  84.0
Asian-Pac-Islander  1.0  40.0  40.0  40.0  99.0
Black               1.0  37.0  40.0  40.0  99.0
Other               5.0  36.0  40.0  40.0  98.0
White               1.0  40.0  40.0  45.0  99.0

In [12]:
data.groupby('sex').describe()

            age                                                      \
          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0

       capital-gain                                                         \
              count         mean          std  min  25%  50%  75%      max
sex
Female      10771.0   568.410547  4924.262944  0.0  0.0  0.0  0.0  99999.0
Male        21790.0  1329.370078  8326.312095  0.0  0.0  0.0  0.0  99999.0

       capital-loss                                                      \
              count        mean         std  min  25%  50%  75%     max
sex
Female      10771.0   61.187633  340.907518  0.0  0.0  0.0  0.0  4356.0
Male        21790.0  100.213309  429.763097  0.0  0.0  0.0  0.0  3770.0

       education-num                                                   \
               count       mean       std  min  25%   50%   75%   max
sex
Female       10771.0  10.035744  2.379954  1.0  9.0  10.0  12.0  16.0
Male         21790.0  10.102891  2.662630  1.0  9.0  10.0  13.0  16.0

         fnlwgt                                                              \
          count           mean            std      min        25%       50%
sex
Female  10771.0  185746.311206  102986.078821  12285.0  117363.00  176077.0
Male    21790.0  191771.449013  106740.702676  13769.0  118200.75  180140.0

                             hours-per-week                                   \
              75%        max          count       mean        std  min   25%
sex
Female  228331.50  1484705.0        10771.0  36.410361  11.811300  1.0  30.0
Male    241146.25  1455435.0        21790.0  42.428086  12.119755  1.0  40.0


         50%   75%   max
sex
Female  40.0  40.0  99.0
Male    40.0  49.0  99.0

In [13]:
data[(data['race']=='Amer-Indian-Eskimo') & (data['sex']=='Male')].age.max()

82

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [47]:
#выберем богатых и женатых
rich = data[data['salary'] == '>50K']
married_count = rich[rich['marital-status'].apply(lambda x: x[:7] == 'Married')].shape[0]
single_count = rich.shape[0] - married_count

rich_men = rich[rich['sex'] == 'Male']
married_men_percent = rich_men[(rich_men['marital-status'].apply(lambda x: x[:7] == 'Married'))].shape[0]/married_count*100

print(f'rich people: {rich.shape[0]}')
print('------------')
print(f'rich married people: {married_count}\nrich single people: {single_count}')

print(f'rich men: {rich_men.shape[0]}')
print('------------')
print(f'rich married men: {round(married_men_percent, 2)}%\nrich single men: {round(100-married_men_percent, 2)}%')
single_men_percent

rich people: 7841
------------
rich married people: 6736
rich single people: 1105
rich men: 6662
------------
rich married men: 88.55%
rich single men: 11.45%

0.6307692307692307

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [ ]:
a = data['hours-per-week'].max()
print(f'The maximum number of hours a person works per week is {a} hours')

In [ ]:
q = data[data['hours-per-week'] == a]
print(f'The number of people work {a} hours per week is {q.shape[0]} people')

In [ ]:
p = q[q['salary'] == '>50K'].shape[0]/q.shape[0]*100

print(f'And here {round(p, 2)}% earns a lot')

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [ ]:
data.groupby(by=['native-country', 'salary'])['hours-per-week'].mean()

In [ ]:
data[data['native-country'] == 'Japan'].groupby('salary')['hours-per-week'].mean()